<router-outlet></router-outlet>

<div class="row">
    <div class="col-xs-12">
            <div class="row" >
                <div class="col-sm-5">
                    <h3>Name</h3></div>
                    <div class="col-sm-7">
                        <h4>{{userlist.firstName}}</h4>
                    </div>
                   
                </div>
                <div class="row" >
                        <div class="col-sm-5">
                            <h3>Email</h3></div>
                            <div class="col-sm-7">
                                <h4>{{userlist.emailId}}</h4>
                            </div>
                           
                        </div>
                        <div class="row" >
                                <div class="col-sm-5">
                                    <h3>PhoneNo</h3></div>
                                    <div class="col-sm-7">
                                        <h4>{{userlist.phoneNo}}</h4>
                                    </div>
                                   
                                </div>
            </div>
            </div>


